In [ ]:
import pandas as pd
import numpy as np

In [62]:
chicago = pd.read_csv("../chicago_2016.csv", parse_dates=["start_time","end_time"])

In [70]:
# Überblick der Daten
chicago.head()

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2016-03-31 23:53:00,2016-04-01 00:07:00,344,458,Ravenswood Ave & Lawrence Ave,Broadway & Thorndale Ave,155,Subscriber
1,2016-03-31 23:46:00,2016-03-31 23:57:00,128,213,Damen Ave & Chicago Ave,Leavitt St & North Ave,4831,Subscriber
2,2016-03-31 23:42:00,2016-03-31 23:46:00,350,210,Ashland Ave & Chicago Ave,Ashland Ave & Division St,4232,Subscriber
3,2016-03-31 23:37:00,2016-03-31 23:55:00,303,458,Broadway & Cornelia Ave,Broadway & Thorndale Ave,3464,Subscriber
4,2016-03-31 23:33:00,2016-03-31 23:37:00,334,329,Lake Shore Dr & Belmont Ave,Lake Shore Dr & Diversey Pkwy,1750,Subscriber

In [71]:
# Anzahl der Zeilen
size = chicago.size
size

28763064

In [76]:
chicago.count()

start_time            3595383
end_time              3595383
start_station_id      3595383
end_station_id        3595383
start_station_name    3595383
end_station_name      3595383
bike_id               3595383
user_type             3595383
dtype: int64

In [81]:
# keine Null-Values
chicago[(chicago.isnull()==False)]

,start_time,end_time,start_station_id,end_station_id,start_station_name,end_station_name,bike_id,user_type
0,2016-03-31 23:53:00,2016-04-01 00:07:00,344,458,Ravenswood Ave & Lawrence Ave,Broadway & Thorndale Ave,155,Subscriber
1,2016-03-31 23:46:00,2016-03-31 23:57:00,128,213,Damen Ave & Chicago Ave,Leavitt St & North Ave,4831,Subscriber
2,2016-03-31 23:42:00,2016-03-31 23:46:00,350,210,Ashland Ave & Chicago Ave,Ashland Ave & Division St,4232,Subscriber
3,2016-03-31 23:37:00,2016-03-31 23:55:00,303,458,Broadway & Cornelia Ave,Broadway & Thorndale Ave,3464,Subscriber
4,2016-03-31 23:33:00,2016-03-31 23:37:00,334,329,Lake Shore Dr & Belmont Ave,Lake Shore Dr & Diversey Pkwy,1750,Subscriber
...,...,...,...,...,...,...,...,...
3595378,2016-10-01 00:01:08,2016-10-01 00:04:42,56,133,Desplaines St & Kinzie St,Kingsbury St & Kinzie St,3999,Subscriber
3595379,2016-10-01 00:00:58,2016-10-01 00:09:33,255,4,Indiana Ave & Roosevelt Rd,Burnham Harbor,2483,Subscriber
3595380,2016-10-01 00:00:41,2016-10-01 00:04:19,56,133,Desplaines St & Kinzie St,Kingsbury St & Kinzie St,3892,Subscriber
3595381,2016-10-01 00:00:32,2016-10-01 00:16:02,298,460,Lincoln Ave & Belle Plaine Ave,Clark St & Bryn Mawr Ave,3567,Subscriber
3595382,2016-10-01 00:00:14,2016-10-01 00:16:02,298,460,Lincoln Ave & Belle Plaine Ave,Clark St & Bryn Mawr Ave,5320,Customer

In [68]:
# die verschiedene Nutzer
users = chicago['user_type'].unique()
users

array(['Subscriber', 'Customer', 'Dependent'], dtype=object)

In [69]:
# Anzahl der Start-Stationen
number_start_station = len(chicago['start_station_id'].unique())
print(number_start_station)

581

In [40]:
# Anzahl der End-Stationen
number_end_station = len(chicago['end_station_id'].unique())
print(number_end_station)

581

In [89]:
# Test ob IDs sowohl in den End- als auch den Startstationen vorkommen
start_station_id = chicago['start_station_id'].unique()
end_station_id = chicago['end_station_id'].unique()
equal = True
for i in range(start_station_id.size):
    if np.isin(start_station_id[i],end_station_id) == False:
        equal = False
equal

True

In [90]:
# Test, ob Anzahl der Startstationen gleich der Anzahl der Endstationen ist
start_station_name = chicago['start_station_name'].unique()
print(len(start_station_name))
end_station_name = chicago['end_station_name'].unique()
print(len(station2))

587
587

In [92]:
# Test, ob die Namen auch übereinstimmen
equal_name = True
for i in range(start_station_name.size):
    if np.isin(start_station_name[i],end_station_name) == False:
        equal_name = False
equal_name

True

In [109]:
# Anzahl der Namen größer als Anzahl der ID's -> Namen mit gleicher ID:
compare_name_id = chicago.drop(['start_time','end_time','end_station_id','end_station_name','bike_id','user_type'], axis=1)
for i in range(compare_name_id.size):
    for j in range(compare_name_id.size):
        if compare_name_id.loc[i].at['start_station_id'] == compare_name_id.loc[j].at['start_station_id'] & compare_name_id.loc[i].at['start_station_name'] != compare_name_id.loc[j].at['start_station_name']:
           print(id + " 1. Name: "+compare_name_id.loc[i].at['start_station_name']+", 2.Name: "+compare_name_id.loc[j].at['start_station_name'])

TypeError: ufunc 'bitwise_and' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

In [23]:
# Anzahl der Räder
number_bikes = len(chicago['bike_id'].unique())
print(number_bikes)

5748